*{
    padding: 0;
    margin: 0;
    box-shadow: none;
    box-sizing: border-box;
}

body{
    padding: 1rem;
    background: linear-gradient(to top, #00e5ff90, #000);
    background-repeat: no-repeat;
    height: 100%;
}
header{
    border: 1px solid #000;
}
.skip{
    background-color: #fff;
    color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    font-weight: 1000;
    transition: all 0.5s;
}
.skip:hover{
    transform: scale(1.1);
}

nav{
   position: fixed;
   top: 0; 
   width: 100vw;
   background-color: #000;
   line-height: 400%;
   border-bottom: 1px solid #00e5ff;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}
nav ul a{
    text-decoration: none;
    color: #fff;
}
.active{
    color: #00e5ff;
}
h1{
    color: #fff;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
#hero{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
}
.home_info{
    width: 40vw;
    text-align: justify;
}
.img_hero{
    width: 40%;
}
.img_hero img{
    width: 100%;
}
.home_info p{
    color: #fff;
}


#arduino{
    padding: 1rem;
}
.arduino_title{
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 800;
    border-bottom: 1px solid #00e5ff;
    border-top: 1px solid #00e5ff;
    line-height: 200%;
}
.arduino_content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
}
.arduino_p{
    color: #fff;
    width: 40vw;
    text-align: justify;
    padding-right: 1rem;
}
.arduino_content figure{
    width: 40vw;
    align-items: center;
    margin: auto 0;
}
.arduino_content figure img{
    width: 100%;
}











.basics_title{
    margin-bottom: 2rem;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 4%;
    row-gap: 5rem;
    margin-bottom: 10rem;
}
.card:nth-child(even){
    margin-top: 1rem;
    transform: translateY(2rem);
}
.card img{
    width: 20vw;
    height: auto;
    display: block;
    position: cover;
}
.card p{
    color: #fff;
}




.content_drone{
    color: #fff;
    display: flex;
    flex-direction: row;
    margin-bottom: 10rem;
}
.drone_p{
    text-align: justify;
    padding-right: 1rem;
}

.drone_images{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 40%);
    gap: 0.5rem;
    height: 50vh;
}
figure:nth-child(1){
    grid-row: 1 / 3;
    grid-column: 1;
}
figure:nth-child(2){
    grid-row: 1;
    grid-column: 2;
}
figure:nth-child(3){
    grid-row: 2;
    grid-column: 2;
}
figure:nth-child(4){
    grid-row: 3;
    grid-column: 1;
}
figure:nth-child(5){
    grid-row: 3;
    grid-column: 2;
}

figure img{
    width: 100%;
    height: auto;
    display: block;
}
figure:nth-child(1) img{
    height: 100%;
}

/*
    a:link      a normal, unvisited link.
    a:visited   has been visited.
    a:hover     activated by mouse.
    a:focus     activated with the keyboard.
    a:active    is being clicked
*/ 
/*
    list-style-type: square
    list-style-imaeg: square url('icon.gif')
    list-style-position
    list-style
*/
/*
    Operators can bu used to find those attributes values you are looking for.
     - match the beginning exactly:
        a [href^='http://umich']
     - match the end exactly:
        img[src$='.png']
     - wildcard:
        a [href*='umich']
*/
/*
    body{
        background: lightblue url("shadows.gif") 100% no-repeat;
    }
*/
/*
    background-color: black;
    height: 500px;
    background-position: center;
    background-size: cover;
*/
/*
    Border Style:
     - none
     - dotted
     - dashed
     - solid
     - double
     - groove
     - ridge
     - inset
     - outset
     - hidden
*/
/*
    Structural/positional | Types of Pseudo-Classes

    :first-child,
    :last-child,
    :nth-child(),
    :only-child,
    :first-of-type,
    :last-of-type,
    :only-of-type
*/
/*
    Types of Pseudo-Elements.
        :first-letter, :first-line
        :before, :after
        ::selection
*/
/*
    You can rotate along the , y, or z dimension along a given degree.
        transform: rotateY(deg)
        transform: rotateX(deg)
        transform: rotateZ(deg)
        transform: rotate3d(x, y, z)
*/